.about-page {
  height: 95vh;
  position: relative;
  background-color: whitesmoke;
  left: 0;
  margin: 0;
  padding: 0;
}

.about-info {
  height: 85vh;
  width: 80vw;
  padding: 2.5vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bio{
  height: 50vh;
  width: 80vw;
  font-size: calc(1.1vh + .9vw);
  color: black;
  font-weight: 300;
  margin: 0;
}

.skills {
  height: auto;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 900px) {
  .about-info{
    height: 97.5vh;
    width: 90vw;
    padding: 2.5vh 5vw 0 5vw ;

}

  .skills {
    width: 90vw;
    height: 50vh;
  }

  .bio{
    width: 90vw;
    height: 45vh;
    margin: 0;
    text-align: center;
  }

  .about-page{
    height: 100vh;
  }

  .portfolio{
    height: 82vh;
    flex-direction: column;
    justify-content: space-between;
  }

  .headshot-black{
    display: flex;
    width: 40vw;
    height: auto;
    margin: 1vh 20vw;
    border-bottom: 3px solid #7845d9;
    border-right: none;
  }
}