.home-page {
  height: 80vh;
}

.home {
  position: fixed;
  left: 30vw;
  right: 30vw;
  top: 15vh;
  height: 65vh;
  width: 40vw;
}

.home-content {
  height: 65vh;
  width: 80vw;
  padding: 12.5vh 10vw 2.5vh 10vw;
  justify-content: space-evenly;
}

.headshot {
  height: 65vh;
  width: auto;
  border-left: 3px solid #7845d9;
}

.home-text {
  width: 35vw;
  height: 65vh;
  justify-content: space-evenly;
}

.intro {
  padding: 1.5vh 0;
  overflow-y: hidden;
}

.name {
  text-align: center;
  color: #7845d9;
  font-size: calc(1.8vh + 1.8vw);
  margin: 0.5vh;
  font-weight: 500;
}

.mission-text {
  text-align: center;
  font-size: calc(1.25vh + 1vw);
  font-weight: 300;
  margin: 0.5vh;
}

.intro-text {
  text-align: center;
  font-size: calc(1.8vh + 1.8vw);
  margin: 0.5vh;
  font-weight: 500;
}



@media (max-width: 900px) {
    .headshot{
      display: flex;
      width: 60vw;
      height: auto;
      border-left: none;
      border-bottom: 5px solid #7845d9;
      margin: 0 10vw;
    }

    .home-content{
      overflow-y: hidden;
      flex-direction: column-reverse;
      height: 70vh;
      width: 80vw;
      padding: 12vh 10vw 0 10vw;
    }

    .home-text{
      height: 35vh;
      width: 80vw;
    }

    .mission{
      height: 20vh;
    }
}
