.divider{
  height: 15vh;
  width: calc(100vw - (.5vw + .75vh));
  margin: -2px 0;
  overflow-y: hidden;
}

.separator{
  height: 15vh;
  width: calc(100vw - (.5vw + .75vh));
  z-index: -1;
}

.black::before {
  position: absolute;
  content: "";
  width: calc(100vw-(.5vw + .75vh));
  height: 15vh;
  background-color: white;
  clip-path: polygon(100% 0,0 0,100% 100%);
}

.black::after {
  position: absolute;
  content: "";
  width: calc(100vw - (.5vw + .75vh));
  height: 15vh;
  background-color: whitesmoke;
  clip-path: polygon(0 0,0 100%,100% 100%);
}

.white::before {
  position: absolute;
  content: "";
  width: calc(100vw - (.5vw + .75vh));
  height: 15vh;
  background-color: whitesmoke;
  clip-path: polygon(100% 0,0 0,100% 100%);
}

.white::after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 15vh;
  background-color: white;
  clip-path: polygon(0 0,0 100%,100% 100%);
}

.title {
  position: absolute;
  color: #7845d9;
  border-bottom: 3px solid #7845d9;
  font-size: calc(1.5vh + 1.8vw);
  margin-top: 5vh;
  margin-left: 10vw;
  z-index: 2;
  height: auto;
  width: auto;
}

#black {
  color: whitesmoke;
}

#purple {
  color: #7845d9;
}

@media (max-width:954px){
  .divider{
    height: 10vw;
  }

  .separator{
    height: 10vh;
  }
  
  .black::before {
    height: 10vw;
  }
  
  .black::after {
    height: 10vw;
  }
  
  .white::before {
    height: 10vw;
  }
  
  .white::after {
    height: 10vw;
  }

  .title{
    margin-top: 2vh;
  }
}