.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    margin-bottom: -80px;
    z-index: 100;
}

.Logo {
    height: 50px;
    width: auto;
    padding: 15px 15px;
    z-index: 5;
    position: relative;
}

.nav-links {
    display: flex;
    list-style: none;
    z-index: 3;
}

.nav-links li {
    padding: 0 2vw;
    z-index: 3;
}

.nav-links li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    z-index: 3;
}