.app {
  height: 70vh;
  width: 65vw;
  color: white;
  justify-content: space-evenly;
}

.img-scroller{
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}

.project-img {
  width: 27.5vw;
  height: auto;
  border-radius: 10px;
}

.project-text{
  width: 50vw;
  height: 40vh;
  margin: 0vh 2.5vw;
}

p {
  font-size: calc(.55vw + 1.1vh);
  text-align: center;
  margin: 0 0;
}

h2 {
  text-align: center;
  font-size: calc(1.5vh + .7vw);
}

img[src=""] {
  display: none;
  
}

.website div img {
  display: none;
}

@media (max-width: 900px) {
  .app{
    justify-content: space-evenly;
  }

  .project-text{
    height: 45vh;
    width: 60vw;
  }

  .project-img{
    display: flex;
    width: 50vw;
    height: auto;
  }
}